# PORTAINER
PORTAINER_HTTPS_PORT=9443

# VAULTWARDEN
VAULTWARDEN_BIND_ADDR=127.0.0.1
VAULTWARDEN_HTTP_PORT=8000
VAULTWARDEN_DOMAIN=https://CHANGE_ME.ts.net
VAULTWARDEN_SIGNUPS_ALLOWED=false
VAULTWARDEN_ADMIN_TOKEN=CHANGE_ME_ARGON2_HASH

# PIHOLE
PIHOLE_DNS_BIND_ADDR=CHANGE_ME_TAILSCALE_IP
PIHOLE_DNS_PORT=53
PIHOLE_HTTP_PORT=8080
PIHOLE_TZ=Europe/Kyiv
PIHOLE_ADMIN_PASSWORD=CHANGE_ME

# OMNIROUTE
OMNIROUTE_PORT=20128
OMNIROUTE_JWT_SECRET=CHANGE_ME
OMNIROUTE_API_KEY_SECRET=CHANGE_ME
OMNIROUTE_INITIAL_PASSWORD=CHANGE_ME
OMNIROUTE_STORAGE_ENCRYPTION_KEY=CHANGE_ME
OMNIROUTE_BASE_URL=https://CHANGE_ME.ts.net

# NEXTCLOUD
NEXTCLOUD_HTTP_PORT=8081
NEXTCLOUD_HTTPS_PORT=443
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=CHANGE_ME
NEXTCLOUD_REDIS_PASSWORD=CHANGE_ME
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=CHANGE_ME
NEXTCLOUD_TRUSTED_DOMAINS=CHANGE_ME.ts.net
NEXTCLOUD_TRUSTED_PROXIES=127.0.0.1
NEXTCLOUD_OVERWRITE_CLI_URL=https://CHANGE_ME.ts.net

# BACKUP
RCLONE_REMOTE=gdrive
RESTIC_REPOSITORY=rclone:gdrive:homeserver-backups
RESTIC_PASSWORD=CHANGE_ME
BACKUP_RETENTION_DAILY=7
